.container {
  width: 100%;
  margin: auto;
  clear: both;
}
[class*="col-"] {
  float: left;
  padding: 0;
  margin: 0;
  max-width: 100%;
  width: 100%;
  overflow: hidden;
  box-sizing: border-box;
}
.row {
  display: flex;
  width: 100%;
  overflow-wrap: break-word;
  flex-wrap: wrap;
  &-reverse-mb {
    flex-wrap: wrap-reverse;
  }
}

.row::after {
  content: "";
  clear: both;
}