.inicio {
  display: flex;
  position: relative;
  width: 100%;
  height: 140vw;
  background-color: $inicio_fundo;
  color: $texto;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  background-image: url('../public/img/inicio-detalhes.svg');
  background-repeat : no-repeat;
  background-size: 200%;
  background-attachment: fixed;
  overflow: hidden;
  font-family: $fonte-gothic; 

  &-card {
    z-index: 1;
    width: 90%;
    background: rgba(20, 37, 52, 0.65);
    padding: 20px;
    border-radius: 13px;

    &-titulo {
      clear: both;
      font-weight: bold;
      font-size: 1.5rem;
    }
    &-texto {
      clear: both;
      text-align: justify;
      font-size: 1rem;
      font-style: normal;
      font-weight: normal;
    }
  } 
  &-logo {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 220.5px;
  }
}

.linhas-divisoria {
  width: 100%;
  height: 3rem;
  > span {
    display: block;
    height: 2px;
    background-color: #556069;
    border-radius: 10px 10px 10px 10px;
    margin: 0 0 10px 0;
  }
  span:nth-child(1) {
    width: 70%;
  } 
  span:nth-child(2) {
    width: 65%;
  }
  span:nth-child(3) {
    width: 60%;
    margin: 0;
  }
}

.selection-process {
  font-family: $fonte-gothic;
  background-color: #020d14;
  h1 {
    height: fit-content;
    font-style: normal;
    font-weight: bold;
    font-size: 2rem;
    line-height: 2rem;
    text-align: left;
    padding-left: 20px;
    color: #ffffff;
  }

  &-form {
    display: flex;
    padding: 10px 10px 0 10px;
    align-items: center;
    justify-content: center;
    margin: auto;
    input {
      height: 49px;
      text-align: center;
      font-size: 1.5rem;
    }
    button {
      display: flex;
      width: 100%;
      height: 3rem;
      text-align: center;
      line-height: 2rem;
      font-size: 1.5rem;
    }
  }

  &-bg {
    padding: 0;
    margin: 0;
    background-image: url('../public/img/background-selection_process.svg');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: bottom;
    height: 31vw;
  }
}

.projects {
  background-image: url('../public/img/background-projects.svg'); 
  background-repeat: no-repeat;
  background-size: auto;
  background-position-x: -200px;
  background-position-y: auto;
  font-family: $fonte-gothic;
  &-head {
    text-align: center;
    > p, h1 {
      text-align: center;
      justify-content: center;
      color: $white;
      font-style: normal;
    }
    > h1 {
      font-weight: bold;
      font-size: 3rem;
      line-height: 3.1rem;
    }
    > p {
      font-size: 1.5rem;
      line-height: 1.7rem;
    }
    > svg {
      color: $white;
    }
  }
  &-cards {
    max-width: 1140px;
    overflow-x: hidden; 
    position: relative;
    scrollbar-width: 0;
    
    &-list {
      display: flex;
      list-style: none;
    }
  }
}

.card-and-icon {
  width: 360px;
  padding: auto;
  text-align: center;
}

.project {
  &-img {
    width: 201px;
    height: 170px;
    margin: 20px 0 20px 0;
  }
  &-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: rgba(22, 36, 47, 0.7);
    border-radius: 50px;
    height: 300px;
    width: 90%;
    padding: 0 25px 0 25px;
    &-title {
      font-size: 2.8125rem;
      line-height: 3.1875rem;
      color: $white;
    }

    &-text {
      text-indent: 0;
      text-align: center;
      text-justify: center;
      font-size: 1.125rem;
      line-height: 1.125rem;
      color: $white;
    }
  }
  &-previous, &-next {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
  }
  &-previous:hover, &previous:hover, &-previous:focus, &-next:focus {
    color: $destaque_secundario;
  }
  &-previous {
    left: 10px;
  }
  &-next {
    right: 10px;
  }
}

.sponsors {
  background: linear-gradient(180deg, rgba(164, 191, 213, 0) 8.85%, #A4BFD5 81.77%);
  overflow: hidden;
  font-family: $fonte-gothic;

  &-header {
    margin: auto;
    display: block;
    align-items: center;
    color: $white;
    margin-bottom: 100px;
    > h1 {
      font-weight: bold;
      font-size: 3.4375rem;
      line-height: 3.0625rem;
      text-align: center;
    }
    >p {
      text-align: center;
      text-justify: center;
      font-size: 1.5rem;
      line-height: 1.75rem;
    }
  }
  &-logos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: auto;
    max-width: 570px;
    margin: 15px 0 75px 0;
  }
  &-logo {
    width: 100%;
    clear: both;
    display: flex;
    align-items: center;
    justify-content: center;
    &-img {
      margin: auto;
    }
  }
  &-logo:hover {
    opacity: 0.5;
  }
}