.inicio {
  &-container { 
    display: flex;
    padding-top: 78px;
    width: 100%;
    height: 100vh;
    background-color: $inicio_fundo;
    color: $black;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
  }
  &-conteudo {
    display: block;
    text-justify: center;
    margin: auto;
    font-family: 'Montserrat';
  }
  &-conteudo > div {
    float: left;
    font-size: 2.5rem;
  }
  &-conteudo > div .barra {
    margin-right: 1px;
  }
}