.culture {
  color: $white;
  font-family: $fonte-gothic;
  padding-top: 84px;
  background-image: url('../public/img/culture-background.svg');
  background-repeat: no-repeat;
  background-size: cover;
  &-cards {
    max-width: 1140px;
    position: relative;
    overflow: hidden;
    &-list {
      list-style: none;
      display: flex;
    }
  }
  &-card {
    width: 324px;
    height: 465px;
    margin: 0 36px 0 0;
    padding: 0 20px 0 20px;
    border-radius: 40px;
    background-color: rgba(15, 28, 39, 0.58);
    text-align: center;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    
    > img {
      height: 150px;
    }

    >p {
      text-indent: 0;
      text-align: center;
      font-size: 1.25rem;
      line-height: 1.8125rem;
    }
    > h2 {
      font-weight: bold;
      font-size: 2.8125rem;
      line-height: 3.4375rem;
    }
  }
}

.teams {
  overflow: hidden;
  color: $white;
  font-family: $fonte-gothic;

  &-header {
    position: relative;
    text-align: center;
    >h1 {
      width: 100%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-weight: 700;
      font-size: 2rem;
      line-height: 3rem;
    }
    >img {transform: rotate(180deg);}
  }
  &-header, &-footer {
    >img {
      width: 200%;
    }
  }

  &-cards{
    &-container {
      display: flex;
      flex-direction: row;
      margin: 100px auto 100px auto;
      max-width: 1300px;
      width: 100%;
      flex-wrap: wrap;
      justify-content: space-between;
      min-height: 1200px;
  }
    &-row {
      display: flex;
      justify-content: space-between;
      width: 100%;
      flex-wrap: wrap;
    }
  }
}

.team-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  max-width: 550px;
  width: 90%;
  margin: auto auto 50px auto;
  height: 550px;
  border-radius: 61px;
  background-color:#101E2A;
  padding: 0 60px 0 60px;
  overflow: hidden;

  &-text {
    text-align: center;
    >h1 {
      font-weight: 600;
      font-size: 2.25rem;
    }
    >p {
      font-size: 1.25rem;
      text-indent: 0;
      text-align: center;
    }
  }
  &-images {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    >p {
      font-size: 1.25rem;
      text-align: center;
      text-indent: 0;
    }
    >div {
      top: 5px;
    }
    >div:nth-child(1) {
      left: 15%;
      z-index: 2;
    }
    >div:nth-child(2) {
      z-index: 1;
    }
    >div:nth-child(3) {
      right: 10%;
      z-index: 0;
    }
    >div:nth-child(4) {
      right: 20%;
      z-index: 1;
    }
  }
  &-person {
    position: relative !important;
    display: flex;
    overflow: visible;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    >a>p {
      index: 0;
      transition: color 0.5s;
      position: relative;
    }
    >a>p:hover {
      color:orange
    }
    >a>img {
      height: 150px;
      overflow: hidden;
      filter: grayscale(100%);
      transition: filter 1s;
      object-fit: cover;
    }
    >a>img:hover {
      filter: grayscale(0);
    }
  }
}

#guilherme, #vinicius, #luísa, #diego {
  >a>img {
    height: 200px;
  }
}

#beatriz {
  >a>p {
    left: 10%;
  }
}

#diego {
  z-index: 0;
  >a>p {
    left: 20%;
  }
}

#eduardo {
  left: 25%;
}

#felipe {
  left: 0%;
}

#gabriel {
  left: 30%;
  >a>p {
    left: 8%;
  }
}

#guilherme {
  z-index: 0;
}

#joaquim {
  right: 15%;
  >a>p {
    position: relative;
    right: 15%;
  }
}

#joão {
  right: 40%;
  >a>p {
    left: 15%;
  }
}

#luísa {
  right: 10%;
  >a>p {
    left: 15%;
  }
}

#raphael {
  z-index: 2;
  right: 20%;
}

#vinicius {
  >a>p {
    left: 10%;
  }
}

@media only screen and (min-width: 612px) {
  #diego {left: 5%}
  #eduardo {left: 15%;}
  #felipe {left: 0}
  #gabriel {left: 15%;}
  #joaquim {right: 5%;}
  #joão {right: 15%;}
  #raphael {right: 10%;}
  .team-card {
    &-text {
      >h1 {font-size: 3rem;}
    }
    &-images-person {
      >a>img {
        height: 175px;
      }
    }
  }
  #guilherme >a>p {
    position: relative;
    right: 10px;
  }
  
  #vinicius >a>p {
    position: relative;
    left: 10px;
  }
}


