$fonte : 'Roboto Mono', 'Roboto', sans-serif, arial;

//Font-sizes
$font-md: 1.2rem;
$font-sm: 0.875rem;


//Colors
$black : #000000;
$cinza: #777777;
$ham-menu: #cccccc;
$cor-titulo: #333333; 
$cor_fundo: $black;
$cor_fundo2: #0b1b28;
//$inicio_fundo : 023E8A;
$inicio_fundo : #0b1b28;
$texto: #cccccc;
$destaque_primario: #FFFFFF;
$destaque_secundario: #F9A806;
$body: #191919;