$fonte : 'Montserrat', sans-serif, arial;

//Font-sizes
$font-md: 1.2rem;
$font-sm: 0.875rem;


//Colors
$black : #000000;
$cinza: #777777;
$ham-menu: #cccccc;
$cor-titulo: #333333; 
$cor_fundo: #050c12;
$cor_fundo2: $black;
//$inicio_fundo : 023E8A;
$inicio_fundo : #050C12;
$texto: #cccccc;
$destaque_primario: #FFFFFF;
$destaque_secundario: #F9A806;
$body: #191919;
$bg_input: #354450;
$bg_submit: rgba(229, 229, 229, 0.89);
$bg_submit_hover: $destaque_secundario;
$color_input: #bbbbbb;
$color_submit: #030d14;
$color_submit_hover: #FFFFFF;